<div class="row m-0 py-3">

    <div class="col-2 col-sm-2 col-md-1 align-self-center">
        <input class="toggle" [formControl]="chkCompletado" type="checkbox">
    </div>

    <div class="col-8 col-sm-8 col-md-10 align-self-center" [class.completed]="todo.completado" [class.editing]="editando">
        <p *ngIf="!editando" (dblclick)="editar(todo.id)" class="todo-text m-0 pointer">{{ todo.texto }}</p>
        <small *ngIf="!editando" class="text-secondary">(Doble click para ediar la tarea)</small>
        <input *ngIf="editando && idEditando == todo.id" class="form-control animated fadeIn" type="text" [formControl]="txtInput" (keyup.enter)="terminarEdicion()" (blur)="terminarEdicion()" #inputFisico>
    </div>

    <div (click)="borrar()" class="col-2 col-sm-2 col-md-1 align-self-center">
        <img class="eliminar" src="./assets/img/remove.svg" alt="">
    </div>

</div>